#
#
#

# Clock ###########################################################################################

NET clock50  LOC="P55"  | IOSTANDARD = LVCMOS33 | PERIOD=20ns;

# LED #########################################################################

#NET led      LOC="P11"  | IOSTANDARD = LVCMOS33;

# Video ###########################################################################################

NET stdn<1>  LOC="P66"  | IOSTANDARD = LVCMOS33; # 01 = PAL, 10 = NTSC, 11 disable
NET stdn<0>  LOC="P67"  | IOSTANDARD = LVCMOS33;

NET sync<1>  LOC="P85"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # vs
NET sync<0>  LOC="P87"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # hs

NET rgb<8>   LOC="P81"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<7>   LOC="P80"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<6>   LOC="P79"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<5>   LOC="P84"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<4>   LOC="P83"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<3>   LOC="P82"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<2>   LOC="P93"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<1>   LOC="P92"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET rgb<0>   LOC="P88"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;

# Audio ###########################################################################################

#NET ear      LOC="P94"  | IOSTANDARD = LVCMOS33 | SLEW=FAST;

NET audio<1> LOC="P9"   | IOSTANDARD = LVCMOS33 | SLEW=FAST; # right
NET audio<0> LOC="P10"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # left

# PS/2 ############################################################################################

NET ps2<1>   LOC="P98"  | IOSTANDARD = LVCMOS33 | SLEW=FAST | PULLUP; # keyboard data
NET ps2<0>   LOC="P99"  | IOSTANDARD = LVCMOS33 | SLEW=FAST | PULLUP; # keyboard clock

###################################################################################################
